%grid {
    display: grid;
}
#shopping-cart {
    display: flex;
    justify-content: flex-end;
}
#shopping-page {
    @extend %grid;
    padding: 5rem;
}
#product-page {
   @extend %grid;
    grid-template-columns: repeat(4, 25%);
}
@for $i from 2 through 5 {
    .product:nth-child(#{$i}) {
        grid-column: #{$i}-1 / #{$i};
    }
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}
